:root {
    --text-color-grey: #777777;
    --button-color-primary: #8F00FF;
}
/* Button */

.primary-button-container {
    padding:30px;
    font-family:poppins;

}
.primary-button {
    text-decoration:none;
    color:white;
    border-radius:10px;
    background-color:rgb(97, 0, 97);


}
.box-shadow{
    box-sizing: border-box;
    border:none;
    border-radius:10px;
    padding:10px 20px 10px 20px ;
    -webkit-box-shadow:0px 5px 0px 0px #a7a4a4 ;
}


/* Label */


.label-container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    flex-direction:column;
    gap:20px;
}
.label-container input{
    width:400px;
    height:30px;
}
.go{
    border:1px solid rgb(172, 171, 171);
    width:410px;
    height:39px;
    background-color:rgb(41, 168, 41);

}
.label-container p{
    padding-left:160px;
    color:white;
}



.label-container h6{
    color:rgb(126, 118, 118);
    letter-spacing:1px;
}
.color{
    color:red;
}


/* Search Input */

.search{
    display:flex;
    align-items:center;

}
 input{
    width:300px;
    border:2px solid black;
    padding:10px;
    border-radius:30px

}


/* Style Select */


.radius {
    width: 120px;
    padding: 10px 20px 10px 20px;
    font: 100 15px Arial;
    border-radius: 40px;
    border: 1px solid black;
    -webkit-appearance: none;
}

.task-card {
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 20px;
}

.task-card .task-info {
    font-size: 11px;
    text-align: right;
    color: var(--text-color-grey);
}
.task-card .task-details {
    text-align: left;
    /*border: 1px solid #000;*/
    width: 100%;
    padding-left: 10px;
}
.task-card .task-title {
    padding-top: 2px;
}
.task-card .task-description {
    font-size: 13px;
    font-weight: normal;
}